# Compiled Python files
*.pyc
*.pyo
__pycache__/

# Environment files
.env
venv/
.venv/
env/
.env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm project files
.idea/

# VSCode project files
.vscode/

# macOS Finder directory attributes
.DS_Store

# Windows system files
Thumbs.db
